<h1 class="text-center">
  <%= 3 %> Members
</h1>

<% members = %w(romain anne seb) %>
<div>
  <ul>
    <%= members.each do |member| %>
      <il>
        <img src="hhtp://placehold.it/80x80" alt="" class="img-circle">
        <h3> <%= merber %></h3>
      </il>
    <% end %>
  </ul>
</div>
